body {
  margin: 0;
  padding: 0;
  font-family: iransans;
  direction: rtl;
}

#basecolor {
  background-image: linear-gradient(135deg,
      hsl(130deg 49% 76%) 0%,
      hsl(130deg 49% 79%) 3%,
      hsl(129deg 49% 81%) 7%,
      hsl(129deg 49% 83%) 10%,
      hsl(129deg 49% 85%) 14%,
      hsl(128deg 49% 87%) 18%,
      hsl(128deg 49% 89%) 22%,
      hsl(128deg 49% 92%) 26%,
      hsl(127deg 49% 94%) 31%,
      hsl(127deg 49% 96%) 36%,
      hsl(127deg 50% 98%) 42%,
      hsl(0deg 0% 100%) 50%,
      hsl(49deg 89% 97%) 59%,
      hsl(50deg 87% 94%) 66%,
      hsl(50deg 86% 92%) 71%,
      hsl(51deg 84% 89%) 76%,
      hsl(52deg 82% 86%) 80%,
      hsl(52deg 81% 83%) 83%,
      hsl(53deg 79% 80%) 87%,
      hsl(53deg 78% 76%) 90%,
      hsl(54deg 77% 73%) 94%,
      hsl(55deg 75% 70%) 97%,
      hsl(55deg 74% 66%) 100%);
}

:root {
  --main-color: #8BBA5A;
  --percentage-color: #FFC700;
}

.maincolor {
  color: var(--main-color);
}


/* .headpic {
  background-image: url("../images/Vector\ 3.png");
  width: 100% !important;
  height: 100%;
  background-repeat: no-repeat;
} */

.headbtn {
  padding: 0px 13px 0px 13px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
}


.nav-home:hover {
  opacity: 1;
}

.heart:hover {

  scale: 1.2;
}

.addbtn {
  background-color: var(--main-color);
  width: 120px;
  font-size: 12px;
  margin: auto;
}


.productbox {
  background-color: #FFFFFF;
  padding: 16px 16px 0 16px;
  align-items: center;
  border-radius: 10px;
  box-shadow: -1px -1px 20px 0px #88888842;
  width: 100%;
  height: fit-content;
  border: 0;
}


.articlebox {
  background-color: #FFFFFF;
  /* height: 360px; */
  padding: 16px 16px 0 16px;
  /* align-items: center; */
  border-radius: 8px;
  box-shadow: -1px -1px 20px 0px #88888842;
  width: 100%;
  height: fit-content;
}

.article-body-text {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}

.artile-title-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.amozeshi {
  position: absolute;
  top: -30px;
  right: 1px;
  background-color: rgba(40, 40, 40, 0.5);
  border-radius: 5px 0;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #fff;
}




.main {
  width: 100%;
  height: fit;
  /* background: linear-gradient(90deg, #5E5E5E 0%, #323232 100%); */
}

.icon {
  color: rgb(41, 39, 39);
  width: 30px;
  height: 30px;
}

@font-face {
  font-family: "Iransans";
  src: url("./fonts/ir_sans.ttf");
  src: url("./fonts/IRANSans\(FaNum\).ttf");

}



a {
  text-decoration: none;
  /* color: white; */
}

.textcolor {
  color: white;
  opacity: 0.6;
}

.circle {
  /* position: absolute; */
  border-radius: 50%;
  border: 55px solid #FFFFFF;
  opacity: 0.2;
  width: 617px;
  height: 617px;
  right: -300px;
  bottom: -400px;
}

.button {

  border-radius: 7px;
}

.products {
  font-size: 16px;
  /* width: 120px;
    height: 42px; */
  box-sizing: border-box;
  border: 2.5px solid #FFC700;
  border-radius: 6px;
}




.category {
  width: 120px;
  height: 42px;
  box-sizing: border-box;
  border: 2.5px solid #FFC700;
  border-radius: 6px;
  margin-left: 20px;
}

/* foote style  */
.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* text-decoration: underline; */
}

.footer-links:hover {
  opacity: 1;
  color: red;
}

.footerline {
  opacity: 0.7;
  font-weight: 500;
  font-size: 14px;
  line-height: 300%;
  margin-left: 2rem;
}


.footre-socialmedia {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #474747;
  background-color: #ffffff;
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dot {
  color: #8BBA5A;
  /* width: 4px;
    height: 4px; */
  padding-left: 10px;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
  position: fixed;
  top: 0;
  left: -190px;
  z-index: 10;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #323232;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
  color: rgba(244, 244, 244, 0.7);
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: rgba(244, 244, 244, 1);
}

/* -- Menu Icon -- */

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 18px;
  /* left: 0px; */
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}



/*-- The Magic --*/
#menu-toggle:checked~.slideout-sidebar {
  left: 0px;
}

#menu-toggle:checked+.menu-icon {
  left: 210px;
}

#menu-toggle:checked~.content-container {
  padding-left: 190px;
}



@media (max-width: 767px) {

  .content-container {
    max-width: 100%;
    margin: 30px auto 0;
  }

  #menu-toggle:checked~.content-container {
    padding-left: 0;
  }

  .slideout-sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }

  .menu-icon {
    left: 20px
  }

  #menu-toggle:checked~.slideout-sidebar {
    width: 100%;
  }

  #menu-toggle:checked+.menu-icon {
    left: 87%;
    color: #fafafa;
  }

  @media screen and (max-width: 736px) and (orientation: landscape) {

    .slideout-sidebar {
      padding: 0;
    }

    .slideout-sidebar ul {
      max-width: 100%;
      margin: 60px auto 0;
    }

    .slideout-sidebar ul li {
      display: inline-block;
      border-bottom: 0;
      width: 72px;
      padding: 18px 24px;
      margin: 0 6px 12px;
      color: #ffffff;
      background-color: #777;
    }

  }

}



.sidebar {
  height: 200px;
  width: 150px;
  position: -webkit-sticky;
  /* for Safari users */
  position: sticky;
  top: 0px;
  float: right;
  /* margin-top: 100px;
  padding-top: 40px; */
  /* background-color: lightblue; */
}

.sidebar div {
  padding: 8px;
  font-size: 16px;
  display: block;
}

.body-text {
  margin-right: 150px;
  font-size: 18px;
}

.sidebar-background {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px -4px #888;
  border: none;
}


/* product counter css */
.counter {
  width: fit-content;
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b6b9bf58;
  border-radius: 5px;
}

.counter input {
  width: 50px;
  border: 2px solid #b6b9bf58;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
  appearance: none;
  outline: 0;
}

.counter span {
  display: block;
  font-size: 25px;
  padding: 0 8px;
  cursor: pointer;
  color: #8BBA5A;
  user-select: none;
  /* background: #b6b9bf; */

}



.option-button {
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  margin-top: 0.8rem;
  background-color: #8BBA5A;
  color: #ffffff;
  font-weight: 500;
  font-family: iransans;
  width: 50%;
}





/* pagination */

.previous-next:hover {
  background: #8BBA5A;
  color: #ccc;
}

.pagebox {
  border: 2px solid #8BBA5A;
  border-radius: 7px;
}




/* tabs */


.tab-body-text {
  max-width: 60%;
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
  line-height: 3;
}



/* rating */
* {
  margin: 0;
  padding: 0;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */